@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Gloock&family=Josefin+Slab:wght@600&family=Libre+Caslon+Text&family=Lora&family=Raleway:wght@200&family=Vollkorn+SC&display=swap");
html,
body {
  background-color: #d16f66;
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  color: white;
  margin: auto;
  overflow-x: auto;
}

main {
  display: flex;
  flex-direction: row;
  background-color: #d16f66;
  color: white;
  justify-content: center;
  align-items: center;
}

header {
  background: #3c4550;
  color: white;
  padding: 2px;
  display: flex;
  flex-direction: row;
}

h1 {
  margin-right: 2%;
  display: inline;
}
h1:last-of-type {
  margin-left: auto;
}

.material-icons {
  margin-left: 2%;
  margin-top: 2%;
}

.index-div {
  display: flex;
  flex-direction: column;
  z-index: 10;
  margin-top: 3%;
  position: fixed;
  top: 80;
  left: 40;
}

div {
  display: flex;
  flex-direction: column;
  z-index: 10;
  margin-top: 3%;
}

a {
  color: white;
  font-weight: 600;
  text-decoration: none;
  background-color: #3c4550;
  border: solid 1px white;
  line-height: 50px;
  padding: 3%;
  box-shadow: 6px 6px;
  width: 100%;
  align-items: left;
}
a:hover {
  transform: scale(1.05);
  background-color: #9297a7;
}

.table-div {
  position: relative;
  background-color: #f7ffff;
  border: solid 1px #3c4550;
  padding: 4%;
  margin-left: 25%;
  width: 100%;
}

table {
  font-size: small;
  justify-content: center;
  margin-left: 2%;
  margin-bottom: 4%;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  min-width: 30%;
  max-width: 100%;
  border: solid 1px black;
}
caption {
  color: black;
  font-size: medium;
  text-align: left;
  margin-bottom: 2%;
}

th,
td {
  padding: 20px;
  background: #ecf0f1;
  text-align: left;
  color: black;
  border: solid 1px black;
}
thead th {
  background: #fc958e;
}
tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

label {
  color: black;
  margin-bottom: 1%;
  font-family: "Raleway", sans-serif;
}

legend {
  color: black;
  font-size: medium;
  text-align: left;
  margin-bottom: 2%;
  margin-left: 2%;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  background-color: #ecf0f1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  margin-left: 2%;
  color: black;
  padding: 3rem;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="datetime-local"] {
  font-family: "Raleway", sans-serif;
  font-size: 130%;
  padding: 6px;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.676);
  width: 60%;
}
input[type="button"],
input[type="submit"] {
  background: #fc958e;
  color: black;
  border: transparent;
  border-radius: 5px;
  padding: 6px;
  width: 20%;
  margin-top: 1%;
  font-style: italic;
  font-size: x-small;
}

option {
  font-size: 120%;
}

select {
  margin-bottom: 2%;
  width: 30%;
  font-family: "Raleway", sans-serif;
}

::placeholder {
  font-size: 120%;
  color: #7b7777;
}

button {
  background: linear-gradient(#5170f7, #bcc5f3);
  font-family: "Raleway", sans-serif;
  padding: 10px;
  margin: 20px 0px 0px 60px;
}

footer {
  color: white;
  font-size: 60%;
  padding: 2%;
  position: absolute;
  bottom: 0;
}
.img {
  opacity: 30%;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}

.update-delete-btn {
  background-color: transparent;
  border: none;
  box-shadow: none;
  text-decoration: underline;
  font-size: x-small;
  color: black;
}

.update-delete-btn:hover {
  transform: none;
  background: transparent;
}
.cancel-btn {
  background: none;
  box-shadow: none;
  border: none;
  margin-left: -22px;
  margin-top: -20px;
}
.cancel-btn:hover {
  background: none;
  transform: none;
}
