@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Libre+Baskerville&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
html,
body {
  background-image: url("acton-crawford-8PB_TFEy2XQ-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  color: white;
  margin: auto;
  overflow-x: auto;
}

main {
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
}

header {
  font-family: "Josefin Sans", sans-serif;
  background: #3c4550;
  color: white;
  padding: 2px;
  display: flex;
  flex-direction: row;
  border-bottom: solid 1px white;
  opacity: 70%;
}

h1 {
  margin-right: 2%;
  display: inline;
}
h1:last-of-type {
  margin-left: auto;
}

.material-icons {
  margin-left: 2%;
  margin-top: 2%;
}

div {
  margin-top: 2%;
  margin-right: 4%;
  margin-bottom: 4%;
}

.index-div {
  display: flex;
  flex-direction: column;
  position: absolute;
  top:150;
  left:40;
  z-index: 10;
  border-radius: 8px;
  line-height: 50px;
  box-shadow: 6px 6px;
  align-items: left;
  background-color: #3c4550;
  padding: 7px;
  border-radius: 8px;
  opacity: 95%;
  border: solid 1px white;
}

a {
  color: white;
  text-decoration: none;
}

.directory-anchor:hover {
  transform: scale(1.02);
  background-color: #7b7777;
  border-radius: 8px;
}
.index-anchor-div:hover {
  transform: scale(1.02);
  background-color: #7b7777;
  border-radius: 8px;
}
.directory-div {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 150;
  left: 40;
  z-index: 10;
  margin-left: 20px;
  border-radius: 8px;
  line-height: 50px;
  box-shadow: 6px 6px;
  align-items: left;
  background-color: #3c4550;
  padding: 7px;
  border-radius: 8px;
  opacity: 95%;
  width: 40vh;
  border: solid 1px white;
}
.table-div {
  position: absolute;
  top: 80;
  left: 15;
  background-color: #004873;
  border: solid 1px white;
  padding: 4%;
  margin-left: 20%;
  overflow-x: auto;
  overflow-y: auto;
}

table {
  font-size: small;
  justify-content: center;
  margin-left: 2%;
  margin-bottom: 4%;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  min-width: 30%;
  max-width: 100%;
  border: solid 1px white;
}
caption {
  color: white;
  font-size: medium;
  text-align: left;
  margin-bottom: 2%;
}

th,
td {
  padding: 20px;
  background: #ecf0f1;
  text-align: left;
  color: black;
  border: solid 1px black;
}
thead th {
  background: #37a9e8;
}
tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

label {
  color: black;
  margin-bottom: 1%;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
}

legend {
  color: white;
  font-size: medium;
  text-align: left;
  margin-bottom: 2%;
  margin-left: 2%;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  background-color: #ecf0f1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  margin-left: 2%;
  color: black;
  padding: 3rem;
  row-gap: 8px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="datetime-local"] {
  font-family: "Raleway", sans-serif;
  padding: 6px;
  background-color: rgba(255, 255, 255, 0.676);
  width: 60%;
  border: solid 1px black;
  font-family: "Josefin Sans", sans-serif;
}
input[type="button"],
input[type="submit"] {
  background: #9297a7;
  color: white;
  border: transparent;
  border-radius: 5px;
  padding: 7px;
  width: 20vh;
  font-style: italic;
  font-size: x-small;
  border: solid 1px black;
}

option {
  font-size: 120%;
}

select {
  margin-bottom: 2%;
  width: 30%;
  font-family: "Raleway", sans-serif;
}

::placeholder {
  font-size: 120%;
  color: #7b7777;
}

footer {
  color: white;
  font-size: 60%;
  padding: 2%;
  position: absolute;
  bottom: 0;
}
.img {
  filter: brightness(60%);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}

.update-delete-btn {
  text-decoration: underline;
  font-size: x-small;
  color: black;
}
.add-btn {
  color: white;
}
.add-btn:hover {
  text-decoration:underline;
}
