<!-- All templates modified from CS340 flask-starter-app code -->
<html>
<head>
<link rel="stylesheet" href="./static/style.css">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
<meta charset="UTF-8">
<title>Add New Schedule</title>

</head>
<header>
    <i class="material-icons" style="font-size: 16px">account_circle</i>
    <h1>Add Schedule</h1>
</header>
<body>
<main>

<div class="index-div">

		<a href="/">Index</a>
		<a href="departments">Departments</a>
		<a href="employees">Employees</a>
		<a href="jobs">Jobs</a>
		<a href="schedules">Schedules</a>
        <a href="employmentTypes">Employment Types</a>
        <a href="jobdept">Department Jobs</a>
        <a href="dep_empTypes">Department Employment Types</a>

</div>
<div class="table-div">
    <!-- form to add data in Schedules-->
    <form id="addSchedules" action="/add_schedule" method="POST">
        <fieldset>
            <label for="scheduleType">Schedule Type:</label>
            <input type="text" value="{{request.form[scheduleType]}}"  id="scheduleType" name="scheduleType" pattern="[A-Za-z]{0, 50}" placeholder="e.g. Daily, Holiday..." size=50 required>
            <br>

            <label for="shift">Shift:</label>
            <input type="text" value="{{request.form[shift]}}" id="shift" name="shift" pattern="[A-Za-z]{0, 50}" placeholder="e.g. Night, Swing..." size=50 required >
            <br>

            <label for="startTime">Start Time:</label>
            <input type="datetime-local" value="{{request.form[startTime]}}" id="startTime" name="startTime" required>
            <br>

            <label for="endTime">End Time:</label>
            <input type="datetime-local" value="{{request.form[endTime]}}"  id="endTime" name="endTime" size=50 required>
            <br>

            <label for="employeeID">Employee Name:</label>
            <select class="form-control" id="employeeID" name="employeeID" pattern="[0-4]{1}" placeholder="" required>
            
            {% for data in employeeFK %}
                <option value="{{data[1]}}">{{data[1]}}</option>
            {% endfor %} 
            </select>
            <br>

            <label for="typeName">Employment Status:</label>
            <select class="form-control" id="typeName" name="typeName" >

            {% for data in empTypeFK %}
                <option value="{{data[0]}}" >{{data[0]}}</option>
            {% endfor %} 
            </select>
            <br>

            <label for="departmentID">Department Name:</label>
            <select class="form-control" id="departmentID" name="departmentID" pattern="[0-4]{1}" placeholder="">
            
            {% for data in departmentFK %}
                <option value="{{data[1]}}">{{data[1]}}</option>
            {% endfor %} 
            </select>
        <input type="submit" value="Add Schedule" name="add_schedule">
        <a class="cancel-btn" href="/schedules"><input type="button" value="Cancel"></a>
        </fieldset>

    </form>
    </div>
    </main>
</body>
</html>
 
 
 
 
 
 
 
 
 
