<!-- All templates modified from CS340 flask-starter-app code -->
<html>
<head>
<link rel="stylesheet" href="./static/style.css">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
<meta charset="UTF-8">
<title>Add New Job to Department</title>
</head>
<header>
    <i class="material-icons" style="font-size: 16px">account_circle</i>
    <h1>Add Job to Department</h1>
</header>
<body>
<main>

<div class="index-div">

		<a class="index-anchor-div" href="/">Index</a>
		<a class="index-anchor-div" href="departments">Departments</a>
		<a class="index-anchor-div" href="employees">Employees</a>
		<a class="index-anchor-div" href="jobs">Jobs</a>
		<a class="index-anchor-div" href="schedules">Schedules</a>
        <a class="index-anchor-div" href="employmentTypes">Employment Types</a>
        <a class="index-anchor-div"  href="jobdept">Department Jobs</a>
        <a class="index-anchor-div" href="dep_empTypes">Department Employment Types</a>

</div>

<div class="table-div">
    <!-- form to add data in job department-->
    <form id="add_job_dept" action="/add_job_dept" method="POST">
    <legend><strong>New Job Department </strong></legend>
        <fieldset>
            <label for="jobID">Job Name:</label>
            <select class="form-control" id="jobID" name="jobID" placeholder="" required>

                {% for data in jobIDFK %}
                    <option value="{{data[1]}}">{{data[1]}}</option>
                {% endfor %} 
            </select>

            <label for="departmentID">Department Name:</label>
            <select class="form-control" id="departmentID" name="departmentID" pattern="[0-4]{1}" placeholder="" required>

                {% for data in departmentFK %}
                    <option value="{{data[1]}}">{{data[1]}}</option>
                {% endfor %} 
            <br></select>
        <input  type="submit" value="Add Job to Department" name="add_job_dept" >
        <a class="cancel-btn" href="/jobdept"><input type="button" value="Cancel"></a>
        </fieldset>

    </form>
    </div>
    </main>
</body>
</html>
