{% include "index.html" %}
<body>
<main>


<div class="table-div">
        <!-- form to add data in departments-->
        <form id="add_department" action="/add_department" method="POST">
            <fieldset>
                <label for="depname">Department Name:</label>
                <input type="text" value="{{request.form[depname]}}"  id="depname" name="depname" pattern="[A-Za-z]{0, 30}" placeholder="Enter the name of a Department." size=50 required>
                <br>

                <label for="description">Description:</label>
                <input type="text" value="{{request.form[description]}}" id="description" name="description" pattern="[A-Za-z]{0, 100}" placeholder="Enter a brief description." size=100>
                <br>
            
            <input type="submit" value="Add Department" name="add_department">

            </fieldset>
        </form>
         <a class="add-btn" href="/departments">Cancel</a>
    </div>
    </main>
</body>
</html>