{% include "index.html" %}
<body>
<main>

<div class="table-div">
    <!-- form to add data in job department-->
    <form id="add_job_dept" action="/add_job_dept" method="POST">
    <legend><strong>New Job Department </strong></legend>
        <fieldset>
            <label for="jobid">Job Name:</label>
            <select class="form-control" id="jobid" name="jobid" placeholder="" required>

                {% for data in jobidfk %}
                    <option value="{{data[1]}}">{{data[1]}}</option>
                {% endfor %} 
            </select>

            <label for="departmentid">Department Name:</label>
            <select class="form-control" id="departmentid" name="departmentid" pattern="[0-4]{1}" placeholder="" required>

                {% for data in departmentfk %}
                    <option value="{{data[1]}}">{{data[1]}}</option>
                {% endfor %} 
            <br></select>
        <input  type="submit" value="Add Job to Department" name="add_job_dept" >

        </fieldset>
    </form>
            <a class="add-btn" href="/jobdept">Cancel</a>
    </div>
    </main>
</body>
</html>
