<!-- All templates modified from CS340 flask-starter-app code -->
<html>
<head>
<script src="less.js" type="text/javascript"></script>
<script src="./script.js"></script>
<link rel="stylesheet" href="./static/style.css">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
<meta charset="UTF-8">
	<title>Add New Department</title>
</head>
<header>
    <i class="material-icons" style="font-size: 16px">account_circle</i>
    <h1>Add Department</h1>
</header>
<body>
<main>

<div class="index-div">

		<a class="index-anchor-div" href="/">Index</a>
		<a class="index-anchor-div" href="departments">Departments</a>
		<a class="index-anchor-div" href="employees">Employees</a>
		<a class="index-anchor-div" href="jobs">Jobs</a>
		<a class="index-anchor-div" href="schedules">Schedules</a>
        <a class="index-anchor-div" href="employmentTypes">Employment Types</a>
        <a class="index-anchor-div"  href="jobdept">Department Jobs</a>
        <a class="index-anchor-div" href="dep_empTypes">Department Employment Types</a>

</div>

<div class="table-div">
        <!-- form to add data in departments-->
        <form id="addDepartment" action="/add_department" method="POST">
            <fieldset>
                <label for="depName">Department Name:</label>
                <input type="text" value="{{request.form[depName]}}"  id="depName" name="depName" pattern="[A-Za-z]{0, 30}" placeholder="Enter the name of a Department." size=50 required>
                <br>

                <label for="description">Description:</label>
                <input type="text" value="{{request.form[description]}}" id="description" name="description" pattern="[A-Za-z]{0, 100}" placeholder="Enter a brief description." size=100>
                <br>
            
            <input type="submit" value="Add Department" name="add_department">
            <a class="cancel-btn" href="/departments"><input type="button" value="Cancel"></a>
            </fieldset>
        </form>
    </div>
    </main>
</body>
</html>