{% include "index.html" %}
<body>
<main>

<div class="table-div">
    <!-- form to add data in Schedules-->
    <form id="add_schedule" action="/add_schedule" method="POST">
        <fieldset>
            <label for="scheduletype">Schedule Type:</label>
            <input type="text" value="{{request.form[scheduletype]}}"  id="scheduletype" name="scheduletype" placeholder="e.g. Daily, Holiday..." size=50 required>
            <br>

            <label for="shift">Shift:</label>
            <input type="text" value="{{request.form[shift]}}" id="shift" name="shift" placeholder="e.g. Night, Swing..." size=50 required >
            <br>

            <label for="starttime">Start Time:</label>
            <input type="datetime-local" value="{{request.form[starttime]}}" id="starttime" name="starttime" required>
            <br>

            <label for="endtime">End Time:</label>
            <input type="datetime-local" value="{{request.form[endtime]}}"  id="endtime" name="endtime" size=50 required>
            <br>

            <label for="employeeid">Employee Name:</label>
            <select class="form-control" id="employeeid" name="employeeid" placeholder="" required>
            
            {% for data in employeefk %}
                <option value="{{data[0]}}">{{data[1]}}</option>
            {% endfor %} 
            </select>
            <br>

            <label for="typename">Employment Status:</label>
            <select class="form-control" id="typename" name="typename" >

            {% for data in emptypefk %}
                <option value="{{data[0]}}" >{{data[0]}}</option>
            {% endfor %} 
            </select>
            <br>

            <label for="departmentid">Department Name:</label>
            <select class="form-control" id="departmentid" name="departmentid" placeholder="">
            
            {% for data in departmentfk %}
                <option value="{{data[0]}}">{{data[1]}}</option>
            {% endfor %} 
            </select>
        <input type="submit" value="Add Schedule" name="add_schedule">
        </fieldset>

    </form>
            <a class="add-btn" href="/schedules">Cancel</a>
    </div>
    </main>
</body>
</html>
 
 
 
 
 
 
 
 
 
