<!-- All templates modified from CS340 flask-starter-app code -->
<html lang="en">
<head>
<link rel="stylesheet" href="./static/style.css">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
<meta charset="UTF-8">
  <meta charset="UTF-8">
  <title>Add New Job</title>
</head>
<header>
    <i class="material-icons" style="font-size: 16px">account_circle</i>
    <h1>Add Job</h1>
</header>
<body>
<main>
<div class="index-div">

		<a class="index-anchor-div" href="/">Index</a>
		<a class="index-anchor-div" href="departments">Departments</a>
		<a class="index-anchor-div" href="employees">Employees</a>
		<a class="index-anchor-div" href="jobs">Jobs</a>
		<a class="index-anchor-div" href="schedules">Schedules</a>
        <a class="index-anchor-div" href="employmentTypes">Employment Types</a>
        <a class="index-anchor-div"  href="jobdept">Department Jobs</a>
        <a class="index-anchor-div" href="dep_empTypes">Department Employment Types</a>

</div>
<div class="table-div">
        <!-- form to add data in jobs-->
        <form id="addJob" action="/add_job" method="POST">
            <fieldset>
                <label for="jobName">Job Name:</label>
                <input type="text" value="{{request.form[jobName]}}" id="jobName" name="jobName" pattern="[A-Za-z]{0, 100}" placeholder="Enter the name of the Job" size = 50 required><br>
                
                <label for="description">Description:</label>
                <input type="text" value="{{request.form[description]}}"id="description" name="description" pattern="[A-Za-z]{0, 255}" placeholder="Enter a brief description of job duties." size=100 ><br>

                <input type="submit" value="Add Job" name="add_job">
                <a class="cancel-btn" href="/jobs"><input type="button" value="Cancel"></a>
            </fieldset>
        </form>
    </div>
    </main>
</body>
</html>