<!-- All templates modified from CS340 flask-starter-app code -->
<html>
<head>
<link rel="stylesheet" href="./static/style.css">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
<meta charset="UTF-8">
<title>Department Employment Types</title>
</head>
<header>
     <i class="material-icons" style="font-size: 16px">account_circle</i>
    <h1>Department Employment Types</h1>
</header>

<body>
<main>
<div class="index-div">

		<a class="index-anchor-div" href="/">Index</a>
		<a class="index-anchor-div" href="departments">Departments</a>
		<a class="index-anchor-div" href="employees">Employees</a>
		<a class="index-anchor-div" href="jobs">Jobs</a>
		<a class="index-anchor-div" href="schedules">Schedules</a>
        <a class="index-anchor-div" href="employmentTypes">Employment Types</a>
        <a class="index-anchor-div"  href="jobdept">Department Jobs</a>
        <a class="index-anchor-div" href="dep_empTypes">Department Employment Types</a>

</div>

<!-- home page Departments_has_EmploymentTypes-->
     <div class="table-div">
    <table>
    <caption><strong>Current Department Employment Type Data</strong></caption>
    {% if dep_empTypes_data %}
        <thead>
            <tr>
                <th>Department Employment Status ID</th>
                <th>Employment Status</th>
                <th>Department Name</th>
                <th>Delete</th>
            </tr>
        <tbody>
            {% for data in dep_empTypes_data %}
            <tr>
                {% for i in data %}
                <td> {{i}} </td>
                {% endfor %}

                <td><a class="update-delete-btn" href="delete_dep_empTypes/{{data[0]}}">Delete</a></td>
            </tr>
            {% endfor %}
        {% endif %}
    </table>
    <a class="update-delete-btn" href='add_dep_empTypes'>Add Employment Type to Department</a></strong>
</div>
</main>
</body>
</html>