{% include "index.html" %}

<body>
<main>

<!-- home page Departments_has_EmploymentTypes-->
     <div class="table-div">
    <table>
    <caption><strong>Current Department Employment Type Data</strong></caption>
    {% if dep_emptypes_data %}
        <thead>
            <tr>
                <th>Department Employment Status ID</th>
                <th>Employment Status</th>
                <th>Department Name</th>
                <th>Delete</th>
            </tr>
        <tbody>
            {% for data in dep_emptypes_data %}
            <tr>
                {% for i in data %}
                <td> {{i}} </td>
                {% endfor %}

                <td><a class="update-delete-btn" href="delete_dep_empTypes/{{data[0]}}">Delete</a></td>
            </tr>
            {% endfor %}
        {% endif %}
    </table>
    <a class="add-btn" href='add_dep_emptypes'>Add Employment Type to Department</a></strong>
</div>
</main>
</body>
</html>