<!-- All templates modified from CS340 flask-starter-app code -->
<html>
<head>
<link rel="stylesheet" href="./static/style.css">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
<meta charset="UTF-8">
<title>Departments</title>
</head>
<header>
     <i class="material-icons" style="font-size: 16px">account_circle</i>
        <h1>Departments</h1>
            <nav class="">
            <a class="" href="/">Index</a>
      <a class="" href="departments">Departments</a>
      <a class="" href="employees">Employees</a>
      <a class="" href="jobs">Jobs</a>
      <a class="" href="schedules">Schedules</a>
      <a class="" href="employmentTypes">Employment Types</a>
      <a class="" href="jobdept">Department Jobs</a>
      <a class="" href="dep_empTypes">Department Employment Types</a>
    </nav>
</header>
<body>
<main>


<!-- home page Departments-->
  <div class="table-div">
    <table>
    <caption><strong>Current Department Data</strong></caption>
    {% if departments_data %}
        <thead>
            <tr>
            <th>Department ID</th>
            <th>Department Name</th>
            <th>Description</th>
            <th></th>
            <th></th>
            </tr>
        <tbody>
            {% for data in departments_data %}
            <tr>
                {% for i in data %}
                <td> {{i}} </td>
                {% endfor %}
                <td><a class="update-delete-btn" href='edit_department/{{data[0]}}'>Update</a></td>
                <td><a class="update-delete-btn" href="delete_departments/{{data[0]}}">Delete</a></td>

            </tr>
            {% endfor %}
        {% endif %}
    </table>
   <a class="add-btn" href='add_department'>Add New Department</a>
</div>
</main>
</body>
</html>