{% include "index.html" %}
<body>
<main>


<!-- home page Departments-->
  <div class="table-div">
    <table>
    <caption><strong>Current Department Data</strong></caption>
    {% if departments_data %}
        <thead>
            <tr>
            <th>Department ID</th>
            <th>Department Name</th>
            <th>Description</th>
            <th></th>
            <th></th>
            </tr>
        <tbody>
            {% for data in departments_data %}
            <tr>
                {% for i in data %}
                <td> {{i}} </td>
                {% endfor %}
                <td><a class="update-delete-btn" href='edit_department/{{data[0]}}'>Update</a></td>
                <td><a class="update-delete-btn" href="delete_departments/{{data[0]}}">Delete</a></td>

            </tr>
            {% endfor %}
        {% endif %}
    </table>
   <a class="add-btn" href='add_department'>Add New Department</a>
</div>
</main>
</body>
</html>