{% include "index.html" %}
<link rel="stylesheet" href="/static/style.css">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
<body>
<main>
<div class="table-div">
    <table border="1" cellpadding="5">
        <caption><strong> Updating Employee: </strong></caption>
        <!-- Access data tuple passed from app.py -->
        {% if employees_data %}
            <thead>
                <tr>
                    <th>Employee ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Job Name</th>
                    <th>Department Name</th>
                    <th>Employment Status</th>
                </tr>

            <tbody>
                <!-- Iterates through every item in data -->
                <tr>
                {% for item in employees_data %}
                    <!-- Iterates through every key in the current item dictionary -->
                    {% for key in item %}
                    <!-- Creates a <td> element with the value of that key in it -->
                    <td>{{key}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
        {% endif %}
    </table>
        <!-- form to edit data in employees-->
        <form id="edit_employee" action="/edit_employee/{{employees_data[0][0]}}" method="POST">
            <legend><strong>Edit Employee</strong></legend>
                <fieldset>
                <!-- Preset form inputs to match attributes currently stored for 'employeeID' of employee to be updated via value= and accessing our passed data tuple -->
                <!-- Create hidden form input to store the passed 'employeeID' of employee being edited so it can bed accessed in 'POST' method in app.py -->
                <input type="hidden" value="{{employees_data[0][0]}}" id="employeeid" name="employeeid" required>
                <label for="name">Employee Name:</label>
                <input type="text" value="{{employees_data[0][1]}}" id="name" name="name" required><br>

                <label for="email">Email:</label>
                <input type="email" value="{{employees_data[0][2]}}" id="email" name="email"><br>

                <label for="phonenum">Phone Number:</label>
                <input type="text" value="{{employees_data[0][3]}}"  id="phonenum" name="phonenum" required><br>

                <label for="typename">Employment Status:</label>
                <select class="form-control" id="typename" name="typename" required><br>

                    {% for data in emptypefk %}
                        <option value="{{data[0]}}" >{{data[0]}}</option>
                    {% endfor %}
                </select>

                <label for="jobid">Job Name:</label>
                <select class="form-control" id="jobid" name="jobid" placeholder="" required>

                    {% for data in jobidfk %}
                        {% if data['jobid'] == employees_data[0].jobid %}
                            <option value="{{data[0]}}">{{data[1]}}</option>
                            {% else %}
                            <option value="{{data[0]}}">{{data[1]}}</option>
                        {% endif %}
                    {% endfor %}
                </select>

                <label for="departmentid">Department Name:</label>
                <select class="form-control" id="departmentid" name="departmentid">
                    {% for data in departmentfk %}
                        {% if data['departmentid'] == employees_data[0].departmentid %}
                            <option value="{{data[0] }}">{{data[1]}}</option>
                        {% else %}
                            <option value="{{data[0]}}">{{data[1]}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            <input type="submit" value="Update Employee" name="edit_employee">
            </fieldset>
        </form>
        <a class="add-btn" href="/employees">Cancel</a>
    </div>
    </main>
</body>
</html>