{% include "index.html" %}
<link rel="stylesheet" href="/static/style.css">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
<body>
<main>

<div class="table-div">
        <table border="1" cellpadding="5"> 
            <caption><strong> Updating Job in Department: </strong></caption>
            <!-- Access data tuple passed from app.py -->
            {% if jobdept_data %}
                <thead>
                    <tr>
                        <th>Job Department ID</th>
                        <th>Job Name</th>
                        <th>Department Name</th>
                    </tr>

                <tbody>
                    <!-- Iterates through every item in data -->
           
                    <tr>
                    {% for item in jobdept_data %}
                        <!-- Iterates through every key in the current item dictionary -->
                        {% for key in item %}
                        <!-- Creates a <td> element with the value of that key in it -->
                        <td>{{key}}</td> 
                        {% endfor %} 

                    </tr> 
                    {% endfor %} 
                 {% endif %}   
        </table>

        <!-- form to edit data in job department-->
        <form id="edit_jobdept" action="/edit_jobdept/{{jobdept_data[0][0]}}" method="POST">
            <legend><strong>Edit Job in Department</strong></legend>
            <fieldset>
                <!-- Create hidden form input to store the passed 'jobDeptID' of department job being edited so it can be accessed in 'POST' method in app.py -->

                <input type="hidden" value="{{jobdept_data[0][0]}}" class="form-control" id="jobdeptid" name="jobdeptid" required>

                <label for="jobid">Job Name:</label>
                <select class="form-control" id="jobid" name="jobid" pattern="[0-4]{1}" placeholder="" required>

                    {% for data in jobidfk %}
                        {% if data['jobid'] == jobdept_data[0].jobid %}
                        <option value="{{data[0]}}" SELECTED>{{data[1]}}</option>
                        {% else %}
                        <option value="{{data[0]}}">{{data[1]}}</option>
                        {% endif %}
                    {% endfor %} 
                </select>

                <label for="departmentid">Department Name:</label>
                <select class="form-control" id="departmentid" name="departmentid" pattern="[0-4]{1}" required>

                {% for data in departmentfk %}
                    {% if data['departmentid'] == jobdept_data[0].departmentid %}
                    <option value="{{data[0] }}"SELECTED >{{data[1]}}</option>
                    {% else %}
                    <option value="{{data[0]}}">{{data[1]}}</option>
                    {% endif %}
                {% endfor %} 
                </select>
            <input type="submit" value="Update Job in Department" name="edit_jobdept" >
            </fieldset>
        </form>
                    <a class="add-btn" href="/jobdept">Cancel</a>
    </div>
    </main>
</body>
</html>