<!-- All templates modified from CS340 flask-starter-app code -->
<html>
<head>
<link rel="stylesheet" href="./static/style.css">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
<meta charset="UTF-8">
<title>Employees</title>
</head>
<header>
     <i class="material-icons" style="font-size: 16px">account_circle</i>
    <h1>Employees</h1>
</header>

<body>
<main>
<div class="index-div">

		<a class="index-anchor-div" href="/">Index</a>
		<a class="index-anchor-div" href="departments">Departments</a>
		<a class="index-anchor-div" href="employees">Employees</a>
		<a class="index-anchor-div" href="jobs">Jobs</a>
		<a class="index-anchor-div" href="schedules">Schedules</a>
        <a class="index-anchor-div" href="employmentTypes">Employment Types</a>
        <a class="index-anchor-div"  href="jobdept">Department Jobs</a>
        <a class="index-anchor-div" href="dep_empTypes">Department Employment Types</a>

</div>
<!-- home page Employees-->
 <div class="table-div">
    <table>
    <caption><strong>Current Employee Data</strong></caption>
    {% if employees_data %}
        <thead>
            <tr>
                <th>Employee ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Employment Status</th>
                <th>Job Title</th>
                <th>Department Name</th>
                <th></th>
                <th></th>
            </tr>
        <tbody>
            {% for data in employees_data %}
            <tr>
                {% for i in data %}
                <td> {{i}} </td>
                {% endfor %}

                <td><a class="update-delete-btn" href='edit_employee/{{data[0]}}'>Update</a></td>
                <td><a class="update-delete-btn" href="delete_employees/{{data[0]}}">Delete</a></td>

            </tr>
            {% endfor %}
        {% endif %}
    </table>
    <a class="update-delete-btn" href='add_employee'>Add New Employee</a>
</div>
</main>
</body>
</html>