<!-- All templates modified from CS340 flask-starter-app code -->
<html>
<head>
<link rel="stylesheet" href="./static/style.css">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
<meta charset="UTF-8">
<title>Employment Types</title>
</head>
<header>
     <i class="material-icons" style="font-size: 16px">account_circle</i>
    <h1>Employment Types</h1>
        <nav class="">
      <a class="" href="departments">Departments</a>
      <a class="" href="employees">Employees</a>
      <a class="" href="jobs">Jobs</a>
      <a class="" href="schedules">Schedules</a>
      <a class="" href="employmentTypes">Employment Types</a>
      <a class="" href="jobdept">Department Jobs</a>
      <a class="" href="dep_empTypes">Department Employment Types</a>
    </nav>
</header>

<body>
<main>
<!-- home page EmploymentTypes-->
 <div class="table-div">
    <table>
    <caption><strong>Current Employment Type Data</strong></caption>
    {% if employmentTypes_data %}
        <thead>
            <tr>
               <th>Employment Status</th>
               <th>Hours Allowed to Work</th>
                <th></th>
            </tr>
        <tbody>
            {% for data in employmentTypes_data %}
            <tr>
                {% for i in data %}
                <td> {{i}} </td>
                {% endfor %}

                <td><a class="update-delete-btn" href="delete_employmentTypes/{{data[0]}}">Delete</a></td>

            </tr>
            {% endfor %}
        {% endif %}
    </table>
    <a class="add-btn" href='add_employmentTypes'>Add New Employment Type</a>
</div>
</main>
</body>
</html>