{% include "index.html" %}

<body>
<main>
<!-- home page EmploymentTypes-->
 <div class="table-div">
    <table>
    <caption><strong>Current Employment Type Data</strong></caption>
    {% if employmenttypes_data %}
        <thead>
            <tr>
               <th>Employment Status</th>
               <th>Hours Allowed to Work</th>
                <th></th>
            </tr>
        <tbody>
            {% for data in employmenttypes_data %}
            <tr>
                {% for i in data %}
                <td> {{i}} </td>
                {% endfor %}

                <td><a class="update-delete-btn" href="delete_employmentTypes/{{data[0]}}">Delete</a></td>

            </tr>
            {% endfor %}
        {% endif %}
    </table>
    <a class="add-btn" href='add_employmentTypes'>Add New Employment Type</a>
</div>
</main>
</body>
</html>