<html>
  <head>
    <link rel="stylesheet" href="./static/style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <meta charset="UTF-8" />
    <title>Hospital Database</title>
  </head>
  <header>
    <i class="material-icons" style="font-size: 16px">account_circle</i>
    <a class="header-anchor-tag" href="/"><h1>Hospital Database</h1></a>
    <nav class="">
      <a class="" href="departments">Departments</a>
      <a class="" href="employees">Employees</a>
      <a class="" href="jobs">Jobs</a>
      <a class="" href="schedules">Schedules</a>
      <a class="" href="employment_types">Employment Types</a>
      <a class="" href="jobdept">Department Jobs</a>
      <a class="" href="dep_emptypes">Department Employment Types</a>
    </nav>
  </header>
</html>
