<html>
  <head>
    <link rel="stylesheet" href="./static/style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <meta charset="UTF-8" />
    <title>Index</title>
  </head>
  <header>
    <i class="material-icons" style="font-size: 16px">account_circle</i>
    <h1>Hospital Database Directory</h1>
    <nav class="">
      <a class="" href="departments">Departments</a>
      <a class="" href="employees">Employees</a>
      <a class="" href="jobs">Jobs</a>
      <a class="" href="schedules">Schedules</a>
      <a class="" href="employmentTypes">Employment Types</a>
      <a class="" href="jobdept">Department Jobs</a>
      <a class="" href="dep_empTypes">Department Employment Types</a>
    </nav>
  </header>
  <body>
    <main>
    </main>
    <footer>&copy Created by Meagan Welch and Hannah Patchagoolie</footer>
  </body>
</html>
