<html>
  <head>
    <link rel="stylesheet" href="./static/style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <meta charset="UTF-8" />
    <title>Index</title>
  </head>
  <header>
    <i class="material-icons" style="font-size: 16px">account_circle</i>
    <h1>Hospital Database Directory</h1>
  </header>
  <body class="index-page">
    <img class="img" src="./static/background-hospital.jpeg" alt="hospital" />
    <main>
      <div class="index-div">
        <a href="departments">Departments</a>

        <a href="employees">Employees</a>

        <a href="jobs">Jobs</a>

        <a href="schedules">Schedules</a>

        <a href="employmentTypes">Employment Types</a>

        <a href="jobdept">Department Jobs</a>

        <a href="dep_empTypes">Department Employment Types</a>
      </div>

    </main>
    <footer>&copy Created by Meagan Welch and Hannah Patchagoolie</footer>
  </body>
</html>
