<!-- All templates modified from CS340 flask-starter-app code -->
<html>
<head>
<link rel="stylesheet" href="./static/style.css">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
<meta charset="UTF-8">
<title>Department Jobs</title>
</head>
<header>
     <i class="material-icons" style="font-size: 16px">account_circle</i>
    <h1> Department Jobs</h1>

    <nav>

		<a href="/">Index</a>
		<a href="departments">Departments</a>
		<a href="employees">Employees</a>
		<a href="jobs">Jobs</a>
		<a href="schedules">Schedules</a>
        <a href="employmentTypes">Employment Types</a>
        <a href="jobdept">Department Jobs</a>
        <a href="dep_empTypes">Department Employment Types</a>

</nav>
</header>
<body>
<main>
<!-- home page Jobs_has_Departments-->
   <div class="table-div">
    <table>
    <caption>Department Jobs Data
    </caption>
    {% if jobdept_data %}
        <thead>
            <tr>
                <th>Department Job ID</th>
                <th>Job Title</th>
                <th>Department Name</th>
                <th></th>
                <th></th>
            </tr>
        <tbody>
            {% for data in jobdept_data %}
            <tr>
                {% for i in data %}
                <td> {{i}} </td>
                {% endfor %}
                
                <td><a class="update-delete-btn" href="edit_jobdept/{{data[0]}}">Update</a></td>
                <td><a class="update-delete-btn" href="delete_job_dept/{{data[0]}}">Delete</a></td>

            </tr>
            {% endfor %}
        {% endif %}
    </table>
    <a class="add-btn" href='add_job_dept'>Add New Job to Department</a>
</div>
</main>
</body>
</html>