<!-- All templates modified from CS340 flask-starter-app code -->
<html>
<head>
<link rel="stylesheet" href="./static/style.css">
<meta charset="UTF-8">
<title>Department Jobs</title>
</head>
<header>
	  <nav>
		<a href="/">Index</a>
		<a href="departments">Departments</a>
		<a href="employees">Employees</a>
		<a href="jobs">Jobs</a>
		<a href="schedules">Schedules</a>
        <a href="employmentTypes">Employment Types</a>
        <a href="jobdept">Department Jobs</a>
        <a href="dep_empTypes">Department Employment Types</a>
	  </nav>
</header>
<body>
<!-- home page Jobs_has_Departments-->
    <h2> Department Jobs</h2>
    <table>
    <caption><strong>Current Department Jobs Data</strong></caption>
    {% if jobdept_data %}
        <thead>
            <tr>
                <th>Department Job ID</th>
                <th>Job Title</th>
                <th>Department Name</th>
                <th></th>
                <th></th>
            </tr>
        <tbody>
            {% for data in jobdept_data %}
            <tr>
                {% for i in data %}
                <td> {{i}} </td>
                {% endfor %}
                
                <td><a href="edit_jobdept/{{data[0]}}">Update</a></td>
                <td><a href="delete_job_dept/{{data[0]}}">Delete</a></td>

            </tr>
            {% endfor %}
        {% endif %}
    </table>
    <button><a href='add_job_dept'>Add New Job to Department</a></button>
</body>
</html>