<!-- All templates modified from CS340 flask-starter-app code -->
<html>
<head>
<link rel="stylesheet" href="./static/style.css">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
<meta charset="UTF-8">
<title>Schedules</title>
</head>
<header>
     <i class="material-icons" style="font-size: 16px">account_circle</i>
    <h1> Schedules </h1>
        <nav class="">
      <a class="" href="departments">Departments</a>
      <a class="" href="employees">Employees</a>
      <a class="" href="jobs">Jobs</a>
      <a class="" href="schedules">Schedules</a>
      <a class="" href="employmentTypes">Employment Types</a>
      <a class="" href="jobdept">Department Jobs</a>
      <a class="" href="dep_empTypes">Department Employment Types</a>
    </nav>
</header>
<body>
<main>

<!-- home page Schedules-->
   <div class="table-div">
    <table>
    <caption><strong>Current Schedules Data</strong></caption>
    {% if schedules_data %}
        <thead>
            <tr>
                <th>Schedule ID</th>
                <th>Type</th>
                <th>Shift</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Employee Name</th>
                <th>Employment Status</th>
                <th>Department Name</th>
                <th></th>
            </tr>
        <tbody>
            {% for data in schedules_data %}
            <tr>
                {% for i in data %}
                <td> {{i}} </td>
                {% endfor %}

                <td><a class="update-delete-btn" href="delete_schedules/{{data[0]}}">Delete</a></td>

            </tr>
            {% endfor %}
        {% endif %}
    </table>
    <a class="add-btn" href='add_schedule'>Add New Schedule</a>
</div>
</main>
</body>
</html>